<% include partials/header%>
<% include partials/navbar%>

<div class="">
        <img src="https://www.thetvdb.com/banners/<%=image.fileName%>" alt="">
        <h1><%=serial.seriesName%></h1>
        <button class="ui toggle button addList">Add to my list</button>
        <button class="ui toggle button addLike">Like | <%=likes%></button>
</div>

<div class="hidden serial"><%=serial.id%></div>
<div class="hidden numberOfLikes"><%=likes%></div>
<div class="hidden list"><%=ifList%></div>
<div class="hidden like"><%=ifLike%></div>





<% include partials/scripts %>
<link rel="stylesheet" href="/stylesheets/show.css">
<script src="show.js"></script>
<% include partials/footer %>